<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciaEditora</servlet-name>
        <servlet-class>controller.GerenciarEditora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAcesso</servlet-name>
        <servlet-class>controller.GerenciarAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAutor</servlet-name>
        <servlet-class>controller.GerenciarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarBibliotecario</servlet-name>
        <servlet-class>controller.GerenciarBibliotecario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarEditora</servlet-name>
        <servlet-class>controller.GerenciarEditora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarEmprestimo</servlet-name>
        <servlet-class>controller.GerenciarEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLeitor</servlet-name>
        <servlet-class>controller.GerenciarLeitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLivro</servlet-name>
        <servlet-class>controller.GerenciarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controller.GerenciarMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciaEditora</servlet-name>
        <url-pattern>/GerenciaEditora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAcesso</servlet-name>
        <url-pattern>/gerenciar_acesso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAutor</servlet-name>
        <url-pattern>/gerenciar_autor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarBibliotecario</servlet-name>
        <url-pattern>/gerenciar_bibliotecario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarEditora</servlet-name>
        <url-pattern>/gerenciar_editora.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarEmprestimo</servlet-name>
        <url-pattern>/gerenciar_emprestimo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLeitor</servlet-name>
        <url-pattern>/gerenciar_leitor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLivro</servlet-name>
        <url-pattern>/gerenciar_livro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
