.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logotype p {
    line-height: 0;
    overflow: hidden;
    display: none;
}
.menu .menu-items p{
    display: none;
}