/* 
    Atalho pra selecionar itens semelhantes:
    SELECIONAR + CTRL + D
*/

/* aspect ratio explicação */
/* width: height * aspect-ratio  */
/* height: width * aspect-ratio */

.sidemenu {
    background-color: var(--secondary);
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 5%;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 8px var(--primary)
    transition: width 1s;
}
.sidemenu:hover{
    width: 160px;
}

.menu {
    flex-grow: 1;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding-left: 35px;

}

.menu-items li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 25px;  
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user .user-image {
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;

    border-radius: 50%;
}



