/* 
    Created on : 24/05/2024, 01:11:50
    Author     :Diego Gruber
*/
.biblioteca{
    background-image: url("../imagens/biblioteca.jpeg");
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 53px;
}