@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0px;
    min-height: 100vh;
    background-color: #1e2d4a;
    display: flex;
}
#biblioteca{
    width: 120px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    border-radius: 0px 12px 12px 0px;
    transition: width 0.5s;
}
#biblioteca_content{
    padding: 12px;
    color: #ffffff;
}
#user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-left: 27px;
    width: 100%;
}
.img-biblioteca{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 28px;

}
#user_infos{
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child{
    color: #ffffff;
    font-size: 12px;
}
main {
    padding: 20px;
}
#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding-right: 70px;
}

.side-item{
    border-radius: 10px;
    padding: 14px;
    cursor:pointer;
    transition: 0.5s ease;
    width: 138%;
}
.side-item i{
    font-size: 26px;
    padding-right: 15px;
    justify-content:center;
}
.item-des{
    font-size: 16px;
    color: #090909;
    display: none;
}
.side-item, #logout_btn:hover:not(){
    background-color: #767df9;
}

.side-item:hover:not(.active){
    background-color: #767df9;
}
.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0a0a0a;
}
.side-item.active a{
    color: #e3e9ef7;
}
.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
#biblioteca:hover{
    width: 190px;
}
#biblioteca:hover .item-description{
    display: block;
    padding-left: 20px;
}

#biblioteca:hover ul li .item-des{
    display: block;
}
#biblioteca:hover .side-item{
    justify-content: flex-start;
    display:grid;
}

#logout{
    border-top: 2px solid #ffffff;
    padding: 12px;

}
#logout_btn {
    border: none;
    padding: 12px;
    font-size: 26px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #f4f4f4;
}
.item-description{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    transition: width .6s ;
    color: #f4f4f4;
    display: none;   
    padding-right: 40px;
    overflow: hidden;
}
