.cadastro {
  text-align: center;
  width: 100%;
  height: 2px;
  color: rgb(255, 255, 255);
}
.table{
    text-align: center;
    width: 80%;
    height: 2%;
    color: rgb(255, 255, 255);
    padding-left: 350px;
  }