*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}
body{
    height: 106vh;
    margin: 0px;
    min-height: 100vh;
    display: flex;  
     background-image: linear-gradient(25deg, #362a1e, #deb897);
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    transform-style: preserve-3d;
}
.card{
    flex: 1 1 150px;
    
}
.container .card{
    width: 200px;
    height: 369px;
    padding: 7px;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform-style: preserve-3d;
}
.container .card h2{
    color: #fff;
    transform-style: preserve-3d;
    font-size: 15px;
}
img{
    max-width: 100%;
    display: block;
}
.container .card img.produtoL1{
    max-width: 250px;
    transform-style: preserve-3d;
    transition: o.5s;
}
.container .card img.produtoL2{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;

}
.container .card img.produtoL3{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;
    max-width: 140%;

}
.container .card img.produtoL4{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;

}
.container .card img.produtoL5{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;

}
.container .card img.produtoL6{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;

}
.container .card img.produtoL7{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;

}
.container .card img.produtoL8{ 
    height: 300px;
    transform-style: preserve-3d;
    transition: o.5s;

}
.container .card img.produtoL1:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL2:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL3:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL4:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL5:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL6:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL7:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card img.produtoL8:houver{
   transform: translate3d(0,0,100px);
    
}
.container .card button{
    padding: 2px 10px;
    background-color: #deb897;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: o.5s;
}
.container div.card{
    background-image: linear-gradient(25deg, #362a1e, #deb897);
}
