@import url(formulario.css);
@import url(menu.css);

:root {
  font-family: sans-serif;
  background-image: linear-gradient(25deg, #362a1e, #deb897);
  color: #fff;
}

body {
    background-image: linear-gradient(25deg, #362a1e, #deb897);
    margin: 0;
  
}

section {
  height: 90vh;
}
